{
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 120,
  "proseWrap": "never",
  "quoteProps": "as-needed",
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": true,
  "endOfLine": "lf"
}
